@import "tailwindcss";


:root {
 --background: #090b12;
 --foreground: #f7f5ff;
}


@theme inline {
 --color-background: var(--background);
 --color-foreground: var(--foreground);
 --font-sans: var(--font-geist-sans);
 --font-mono: var(--font-geist-mono);
}


body {
 font-family: var(--font-sans);
 background-color: var(--background);
 color: var(--foreground);
 scroll-behavior: smooth;
}
